ostreecontainer --url ghcr.io/ublue-os/bluefin-dx:44
ignoredisk --only-use=sda
keyboard --vckeymap=pt --xlayouts=pt
lang en_US.UTF-8
network --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network --hostname=localhost.localdomain
rootpw --lock
timezone Europe/Lisbon --utc
user --groups=wheel --name=vagrant --password=vagrant --gecos=vagrant
clearpart --all --initlabel --disklabel=gpt --drives=sda
autopart
bootloader --append=" net.ifnames=0" --location=boot --boot-drive=sda
services --enabled=sshd
reboot

%post --logfile=/root/ks-post.log --erroronfail
#!/bin/bash
set -eux
systemctl set-default graphical.target
%end
