ostreecontainer --url ghcr.io/ublue-os/bluefin-dx:44
ignoredisk --only-use=sda
keyboard --vckeymap=pt --xlayouts=pt
lang en_US.UTF-8
network --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network --hostname=localhost.localdomain
rootpw --lock
timezone Europe/Lisbon --utc
user --groups=wheel --name=vagrant --password=vagrant --gecos=vagrant
clearpart --all --initlabel --disklabel=gpt --drives=sda
autopart
bootloader --append=" net.ifnames=0" --location=boot --boot-drive=sda
services --enabled=sshd
reboot

%post --logfile=/root/ks-post.log --erroronfail
#!/bin/bash
set -eux
systemctl set-default graphical.target
# remove the root partition from fstab.
# NB this is required to prevent systemd, as displayed by systemctl status, from
#    entering the degraded state due to the root volume being configured by
#    /proc/cmdline instead of /etc/fstab, which manifests as
#   journalctl -u systemd-remount-fs.service showing:
#       mount: /: fsconfig() failed: overlay: No changes allowed in reconfigure.
# see https://github.com/ublue-os/main/issues/2539
# see https://gitlab.com/fedora/ostree/sig/-/work_items/72
# see https://discussion.fedoraproject.org/t/root-mount-options-are-ignored-in-fedora-atomic-desktops-42-and-later/148562
sed -i '\| / btrfs| s/^/#/' /etc/fstab
%end
